<%- include('partials/header') %>


<div class="container"> 
  <h1>Edit Post</h1>
  <form action="/posts/<%= post.id %>/edit" method="POST">
    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input type="text" class="form-control" id="author" name="author" value="<%= post.author %>" required>
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name = "title" value="<%= post.title %>" required>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label><br>
      <textarea id="content" name="content" required><%= post.content %></textarea>  
    </div>
    <button type="submit" class="btn btn-primary">Update Post</button>
  </form>

</div>


<%- include('partials/footer') %>